:root {

    
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    
    --base-fontsize: 1.15rem;
  
    
    --header-scale: 1.25;
  
    
    --line-height: 1.618;
  }
html{

    font-family: var(--sans-font);
    font-size: 16px;

}

