:root {

    
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    
    --base-fontsize: 1.15rem;
  
    
    --header-scale: 1.25;
  
    
    --line-height: 1.618;
  }
html{

    font-family: var(--sans-font);
    font-size: 16px;

}
body{
    color: var(--text);
    background: var(--bg);
    background-image: linear-gradient(red white green );
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 .5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}
